<ul class="menu menu--social">
    <li class="menu__item">
    	<a title="Follow us on Facebook" href="#">
    		<span class="sr-only">Follow us on Facebook</span>
    		<i class="fab fa-facebook-square" aria-hidden="true"></i>
    	</a>
    </li>
    <li class="menu__item">
    	<a title="Follow us on Linkedin" href="#">
    		<span class="sr-only">Follow us on Linkedin</span>
    		<i class="fab fa-linkedin-in" aria-hidden="true"></i>
    	</a>
    </li>	    
    <li class="menu__item">
    	<a title="Follow us on Instagram" href="#">
    		<span class="sr-only">Follow us on instagram</span>
    		<i class="fab fa-instagram" aria-hidden="true"></i>
    	</a>
    </li>
</ul>