<section id="section-2" class="banner banner--theme-default banner--fill-left">  
	<div class="container">
		<div class="banner__background  " data-responsive-background-image aria-hidden="true">
	    	<img alt="" src="{{assets}}/Images/test/banner-we-do.jpg" >      
	  	</div>
	  	<div class="row">
	  		<div class="banner__box">
		  		<div class="banner__content">
		  			<h2 class="banner__title">We <br>do.</h2>

		  			<p>Consecuetur adipiscing elit.<br>
		  			   Nulla condimentum tortor sem.	
		  			</p>
		  			<a href="#" class="banner__button">The projects <i class="fas fa-angle-right" aria-hidden="true"></i></a>
		  		</div>
	  		</div>
	  	</div>	
  	</div>
</section>