<section id="section-1" class="banner banner--theme-dark banner--fill-right">  
	<div class="container">
		<div class="banner__background" data-responsive-background-image aria-hidden="true">
	    	<img src="{{assets}}/Images/test/banner-we-are.jpg" alt="" >      
	  	</div>
	  	<div class="row">
	  		<div class="banner__box">
		  		<div class="banner__content">
		  			<h2 class="banner__title">We <br>Are.</h2>
		  			<p>Consecuetur adipiscing elit.<br>
		  			   Nulla condimentum tortor sem.	
		  			</p>
		  			<a href="#" class="banner__button">The players <i class="fas fa-angle-right" aria-hidden="true"></i></a>
		  		</div>
	  		</div>	
	  	</div>
  	</div>
</section>