<section id="section-3" class="banner banner--theme-dark banner--fill-right">  
	<div class="container">
		<div class="banner__background  " data-responsive-background-image aria-hidden="true">
	    	<img alt="" src="{{assets}}/Images/test/banner-carrers.jpg" >      
	  	</div> 
	  	<div class="row">
	  		<div class="banner__box">	
		  		<div class="banner__content">
		  			<h2 class="banner__title">Careers.</h2>

		  			<p>Consecuetur adipiscing elit.<br>
		  			   Nulla condimentum tortor sem.	
		  			</p>
		  			<a href="#" class="banner__button">The positions <i class="fas fa-angle-right" aria-hidden="true"></i></a>
		  		</div>	
	  		</div>
	  	</div>	
  	</div>
</section>