<div class="card card--standard">
    <article class="card__wrapper">   
        <h3 class="card__title" data-responsive-background-image>
    	   <img src="{{assets}}/Images/test/card-simplicity.png" alt="">
            <span class="sr-only">Play Harder</span>
        </h3>

        <div class="card__info">
            <p>Donec vitae augue tellus. Proin et urna sit amet metus fermentum dapibus non quis urna.</p>
        </div> 
        <a href="#" class="card__read-more-link">Read More</a>
    </article>
</div>