<div class="card card--standard">
    <article class="card__wrapper">   
        <h3 class="card__title" data-responsive-background-image>
            <img src="{{assets}}/Images/test/card-play-harder.png" alt="">
            <span class="sr-only">Play harder</span>
        </h3>
     
        <div class="card__info">
            <p>Aenean mollis dolor a mattis viverra. In hac habitasse platea dictumst. Curabitur tempus dui tortor, et bibendum lacus eleifend ut.</p>
        </div> 
	   <a href="#" class="card__read-more-link">Read More</a>
    </article>
</div>