<div class="card card--standard">
    <article class="card__wrapper">   
        <h3 class="card__title" data-responsive-background-image>
            <img src="{{assets}}/Images/test/card-innovation.png" alt="">
            <span class="sr-only">Innovation</span>
        </h3>
     
        <div class="card__info">
        <p>Suspendisse vehicula, lectus sed molestie aliquam, arcu neque gravida lacus.</p>
        </div> 
        <a href="#" class="card__read-more-link">Read More</a>
    </article>
</div>