<section class="carousel-wrapper">
    <div class="container">
        <div class="carousel js-carousel">
            <div class="carousel__item carousel__item">
                <img src="{{assets}}/Images/test/slide-circle.jpg" alt="" class="img-fluid"> 
                <div class="carousel__box">
                    <h2 class="carousel__title">Lorem Ipsum </h2>
                    <p>Consectetur adipiscing elit. Nulla condimentum tortor sem. in semper nisi bibendum eu.</p>
                </div>
            </div> 

            <div class="carousel__item carousel__item">
                <img src="{{assets}}/Images/test/slide-hello.jpg" alt="" class="img-fluid">  
                <div class="carousel__box">
                <h2 class="carousel__title">Dolor sit amet </h2>
                <p>Consectetur adipiscing elit. Nulla condimentum tortor sem. in semper nisi bibendum eu.</p>
                </div>      
            </div>

            <div class="carousel__item carousel__item">
                <img src="{{assets}}/Images/test/slide-play.jpg" alt="" class="img-fluid">
                <div class="carousel__box">
                    <h2 class="carousel__title">Consectetuer leo ipsum</h2>
                    <p>Consectetur adipiscing elit. Nulla condimentum tortor sem. in semper nisi bibendum eu.</p>
                </div>
            </div>        
        </div>
    </div>
</section>