<section class="section section-container section-container--theme-dark" id="section-4">
 	<div class="container">
     	<div class="row row--center">
		  	<form class="form" id="form">
		  		<div class="row">	
		  			<div class="form__info">
		  				<h2 class="form__title">Contact <br>Us.</h2>		  				
		  				<p>Playground srl<br>
		  					Via G.Mazzini 3/C.<br>
		  					Cernusco sul Naviglio (Milano)<br>
		  					-
		  				</p>
		  				<p>Tel. <a href="tel:00390240706003">+39 0240706003</a></p>
		  			</div>
		  			<div class="form__controls">
		  				<div class="row">		  					
		  					<div class="form__item">
		  						<input class="form__field input" type="text" id="name" placeholder="name">		
		  					</div>
		  					<div class="form__item">
		  						<input class="form__field input" type="text" id="lastname" placeholder="last name">	
		  					</div>

		  					<div class="form__item form__item--wide">
		  						<input class="form__field form__field--wide input" type="email" id="email" placeholder="email" required>
		  					</div>	

		  					<div class="form__item form__item--wide">
		  						<textarea class="form__field form__field--wide" required id="message" placeholder="message"></textarea>
		  					</div>			  					




		  					<button type="submit" class="form__button">Send <i class="fas fa-angle-right" aria-hidden="true"></i></button>
		  				</div>	
		  			</div>
		  		</div>
		  	</form>	                
      </div>       
 	</div>
</section>
