<header class="header  sticky header--page">
    <nav class="navigation-main container--narrow js-prioritynav">     
        <a href="/" class="header__logo-link">
            <img class="header__logo header__logo--white" src="{{assets}}/Images/logo-playground-white.png" alt="Playground.">
            <img class="header__logo header__logo--black" src="{{assets}}/Images/logo-playground-black.png" alt="Playground.">
        </a>
        {{>mainnav}}
        <button>MORE</button>
        <ul class="hidden menu menu--hidden" role="menu"></ul>
    </nav>
</header>